body {
	width: 100%;
	height: 100%;
	background-color: #f6f9f9;
}

.wrapper {
	margin: 0 auto;
	max-width: 1150px;
	padding: 20px;
	/*overflow: hidden;*/
	text-align: center;
}
.logo-container {
	text-align: left;
}
.logo-block {
	display: inline-block;
	margin-right: 16px; 
}
.header-logo {
	float: left;
	margin-right: 15px;
}
.header-logo-name {
	/*float: left;*/
	color: #2d3950;
	font-family: Lato;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
}
.title-block__container {
	/*border: solid red;*/
	background: url(../img/hero-background.png) no-repeat;
    background-size: cover;
}
.title-block__container h1 {
	margin-top: 217px;
	color: #ffffff;
	font-family: Lato;
	font-size: 120px;
	font-weight: 700;
	text-transform: uppercase;
}
.title-block__container hr {
	margin: 40px auto;
	max-width: 600px;
	height: 2px;
	background-color: #15a4fa;
}
.description {
	font-family: Lato;
	font-size: 20px;
	font-weight: 400;
}
.title-block__container--desc {
	color: #ffffff;
}
button {
	border: 1px solid #15a4fa;
	border-radius: 2px;
	background-color: transparent;

	text-align: center;
	transition: 0.5s;
}
.button-span {
	color: #ffffff;
	font-family: Lato;
	font-size: 18px;
	line-height: 47px;
	transition: 0.5s;
}

button:hover {
	background-color: #15a4fa;
}

.title-block__container--btn {
	margin-top: 65px;
	margin-bottom: 180px;
	width: 175px;
}
.arrow {
	margin-bottom: 70px;
}
.arrow img{
	width: 20px;
}

.headline {
	margin-top: 81px;
	margin-bottom: 30px;
	color: #2d3950;
	font-family: Lato;
	font-size: 40px;
	font-weight: 400;
}

.specification__container--desc {
	color: #999999;
	margin-bottom: 110px;
}


.features__container {
	background-color: #fff;
}
.features__container li{
	display: inline-block;
	margin-top: 65px;
	margin-right: 10px;
	max-width: 275px/*calc(1150px/3-107px)*/;
	text-align: center;
}
.container-for-img {
	display: flex;
	width: 100%;
	justify-content: center;
}
.features__container--semi-gradient-background {
	display: flex;
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	background-color: #5fc3ff; 
	background-image: linear-gradient(to left, transparent 50%, #48BAFF 50%)
}

.features__container--advantages-name {
	margin-top: 40px;
	margin-bottom: 20px;
	color: #2d3950;
	font-family: Lato;
	font-size: 22px;
	font-weight: 400;
}
.subtitle {
	color: #999999;
	font-family: Lato;
	font-size: 15px;
	font-weight: 400;
}

.porfolio__container li {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 20px;

}
.porfolio__container ul {
	margin-top: 80px;
	margin-bottom: 120px;
}
.portfolio__container--pictures {
	margin-top: ;

}
.portfolio__container--pictures img {
	width: 300px;
	height: 200px;
}
.hover-img {
	margin-left: -360px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 260px;
	background-color: #15a4fa;
	opacity: 0;
	transition: 0.8s;
}
.hover-img figure {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 20px;
	width: 40px;
	height: 40px;
	border: 1px solid white;
	background-color: transparent;
	transition: 0.8s;
}
.hover-img:hover {
	opacity: 0.9;
}
.hover-img figure:hover {
	background-color: #0060B6;
	opacity: 1;
}


.stay-with-us__container {
	background: url(../img/stay-with-us-bg-2.jpg) no-repeat;
    background-size: cover;
}
.stay-with-us__container h2 {
	color: #ffffff;
	font-family: Lato;
	font-size: 41px;
	font-weight: 400
}
.stay-with-us__container--input__block {
	margin: 0 auto; 
	margin-top: 50px;
	max-width: 560px;
	/*overflow: hidden;*/
	text-align: center;
	margin-bottom: 110px;
}
.stay-with-us__container--input__block textarea,
.input__block--input {
	border-radius: 2px;
	border: 1px solid #999999;
	background-color: transparent;
	color: white;
}
.input__block--input {
	margin-bottom: 25px;
	height: 60px;
	width: 558px;
	/*Width block - border*2 */
}
.stay-with-us__container--input__block textarea {
	width: 552px;
	height: 160px;
}

.checkbox__container {
	text-align: left;
	/*overflow: hidden;*/
	margin-top: 20px;
}
.checkbox_label {
	color: white;
}
.stay-with-us__container--btn {
	margin-top: 20px;
	margin-left: 250px;
	width: 140px;
	height: 45px;
	text-align: center;
}
input:hover, textarea:hover{
	border: 1px solid white;
	color: white;
}

.footer-container{
	display: flex;
	position: relative;
	padding-right: 10px;
	padding-left: 10px;
}
.social-btn {
	display: flex;
	align-items: center;
}
footer span{
	margin-right: auto;
	display: flex;
	align-items: center;
	color: #999999;
	font-size: 15px;
	font-weight: 400;
}
.social-btn li {
	display: inline-block;
	margin-right: 5px;
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 2px;
	background-color: #15a4fa;
	transition: 0.4s;
}
.facebook:hover .logo{
	background-color: #3b5998;
}
.twitter:hover .logo{
	opacity: 0.8;
}
.google:hover .logo{
	background-color: #dd4b39;
}
.linkedin:hover .logo{
	background-color: #0976b4;
}